@import '~node_modules/modern-normalize/modern-normalize.css';

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.search-form {
  position: fixed;
  z-index: 289;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;

  padding: 25px 0;
  background-color: #ebebeb;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}

.search-form input {
  width: 200px;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #bdbdbd;
  outline: none;

  display: block;

  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::placeholder {
    color: #212529;
    opacity: 0.4;
  }

  &:hover,
  &:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
  }
}

.search-form__button {
  width: 40px;
  height: calc(2.25rem + 2px);

  padding: 0.375rem 0.75rem;

  border: 1px solid #bdbdbd;
  border-left-width: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #eee;

  transition: background-color 0.15s ease-in-out;

  &:hover,
  &:focus {
    background-color: #0f3443;
    color: #ffffff;
    border-color: #0f3443;
    outline: 0;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
  }
}

.gallery-container {
  margin: 0 auto;
  margin-top: 110px;
  padding: 0 10px 0 10px;

  width: 100%;
}

.gallery {
  width: 100%;
  justify-content: center;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}

.gallery__link {
  min-width: 300px;
  flex-basis: calc((100% - 40px) / 4);
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s;

  &:hover,
  &:focus {
    transform: scale(1.03);
    text-decoration: none;
  }
}

.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.gallery-item__img {
  display: block;
  height: 30vh;
  object-fit: cover;
}

.info {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  width: 60px;

  font-size: 10px;
}

.button {
  width: 200px;
  height: 40px;

  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 50%;
  transform: translateX(-50%);

  font-size: 16px;

  border: 1px solid;
  border-radius: 5px;
  background-color: #0f3443;
  color: #ffffff;

  cursor: pointer;
  transition: background-color 300ms linear, color 300ms linear;

  &:hover,
  &:focus {
    background-color: #0f3443;
  }

  &.is-hidden {
    display: none;
  }

  & > .spinner.is-hidden {
    display: none;
  }
}

.btn-primary:disabled {
  color: #000000;
  background-color: #ebebeb;
  border-color: #000000;
}
